<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <!-- Database connection settings -->
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="connection.url">jdbc:mysql://54.148.226.98:3306/DSCARS</property>
  <property name="connection.username">DSCARSUser</property>
  <property name="connection.password">$money$</property>
  <!-- JDBC connection pool (use the built-in) -->
  <property name="connection.pool_size">1</property>
  <!-- SQL dialect -->
  <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  <!-- Enable Hibernate's automatic session context management -->
  <property name="current_session_context_class">thread</property>
  <!-- Disable the second-level cache  -->
  <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <!-- Echo all executed SQL to stdout -->
  <property name="show_sql">false</property>
  <!-- Drop and re-create the database schema on startup -->
  <property name="hbm2ddl.auto">update</property>

  <mapping class="edu.gatech.omscs.dscars.model.Course"/>
  <mapping class="edu.gatech.omscs.dscars.model.Instructor"/>
  <mapping class="edu.gatech.omscs.dscars.model.PchSub"/>
  <mapping class="edu.gatech.omscs.dscars.model.PreferredCourseHistory"/>
  <mapping class="edu.gatech.omscs.dscars.model.Program"/>
  <mapping class="edu.gatech.omscs.dscars.model.Requisite"/>
  <mapping class="edu.gatech.omscs.dscars.model.Section"/>
  <mapping class="edu.gatech.omscs.dscars.model.Semester"/>
  <mapping class="edu.gatech.omscs.dscars.model.Student"/>
  <mapping class="edu.gatech.omscs.dscars.model.User"/>
  <mapping class="edu.gatech.omscs.dscars.model.Contact"/>
  <mapping class="edu.gatech.omscs.dscars.model.SectionTA"/>
  <mapping class="edu.gatech.omscs.dscars.model.SectionStudent"/>
  <mapping class="edu.gatech.omscs.dscars.model.CoreEngineSetting"/>
 </session-factory>
</hibernate-configuration>
